[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = http://github.com/godlygeek/tabular.git
